#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(238, 190, 202)
}
.singleItem{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    text-align: center;
}
.sortButton{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid dodgerblue;
    height: 30px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    line-height: 20px;
}